a {
    color: inherit;
}

.box {
    box-shadow: 0 0px 0px rgba(10,10,10,.2), 0 0 0 0px rgba(10,10,10,.1)
}

.picture img {
    border-radius: 15px;
}

.shadow img {
    box-shadow: 0 10px 10px rgba(10,10,10,.2), 0 0 0 1px rgba(10,10,10,.1);
}

.image-link {
    padding-top: 25px;
}

.intro {
    padding-top: 25px;
}

.ggj-link {
    position: absolute;
    right:    0;
    bottom:   0;
}

img.resize {
    max-width:50%;
    max-height:50%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

div.is-divider {
    margin: 2rem 10rem;
}

.embedded-pdf {
    width: 100%;
    margin-left: auto ;
    margin-right: auto ;
}

.link-button {
    margin: 10px;
}